body{
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.prcard{
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,o.1);
    width: 300px;
}
.primage{
   width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.prname
{
font-size: 24px;
margin: 10px 0;
}
.prdisc{
    font-size: 16px;
    color: #666;
}